body {
    padding: 20px;
    font-family: sans-serif;
    text-align: center;
}

.container {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    min-width: 300px;
    min-height: 300px;
    border: 10px #404040 solid;
    margin: auto;
    max-width: 600px;
    max-height: 600px;
}

.grid {
    border: #404040 1px solid;
    min-height: 5px;
    min-width: 5px;
    flex-grow: 1;
    margin: 0;
}